$view-row-pading: calc(#{$default-spacing} / 2);
$radius: 10px;
$rotateY: 2deg;

.view-blog-home {
    justify-content: space-between;
}

.view-blog-scroll > .views-infinite-scroll-content-wrapper {
    justify-content: space-around;
}

.view-blog-home, .view-blog-scroll > .views-infinite-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: $default-spacing;
    width: 100%;

    // Fix to prevent offset on last element (infinite scroll)
    &:after {
        width: 100%;
    }

    .views-row {
        margin-bottom: $default-spacing;
        transition: all 1.8s;
        width: calc(50% - #{$default-spacing});

        @include below(medium) {
            width: 80%;
        }

        @include below(low) {
            margin: 0 0 $default-spacing 0;
            width: 100%;
        }

        &:nth-child(odd) {
            border-left: 15px solid $theme-color;
            border-radius: $radius 0 0 $radius;
            box-shadow: 5px 10px 15px -5px transparentize($box-shadow-color, 0.7),
                0 0 15px 0 transparentize($box-shadow-color, 0.9);

            @include above(low) {
                transform: perspective(8.5cm) rotateY($rotateY);
                transform-origin: left;
            }

            .blog-teaser {
                picture {
                    float: left;
                    margin: 0 $view-row-pading $view-row-pading 0;
                }

                .blog__link {
                    text-align: right;

                    a {
                        &:after {
                            right: 0;
                        }

                        &:hover {
                            padding-right: 30px;
                        }
                    }
                }
            }
        }

        &:nth-child(even) {
            border-right: 15px solid $theme-color;
            border-radius: 0 $radius $radius 0;
            box-shadow: -5px 10px 15px -5px transparentize($box-shadow-color, 0.7),
                0 0 15px 0 transparentize($box-shadow-color, 0.9);

            @include above(low) {
                transform: perspective(8.5cm) rotateY(-$rotateY);
                transform-origin: right;
            }

            .blog-teaser {
                picture {
                    float: right;
                    margin: 0 0 $view-row-pading $view-row-pading;
                }

                .blog__link {
                    text-align: left;

                    a {
                        &:after {
                            left: 0;
                        }

                        &:hover {
                            padding-left: 30px;
                        }
                    }
                }
            }
        }

        &:hover {
            cursor: pointer;
            transform: none;
        }

        .blog-teaser .blog {
            padding: $view-row-pading;
        }
    }
}
