$view-row-pading: calc(#{$default-spacing} / 2);
$radius: 10px;

.view-blog-home {
    justify-content: space-between;

    @include below(medium) {
        justify-content: center;
    }
}

.view-blog-scroll > .views-infinite-scroll-content-wrapper {
    justify-content: space-around;
}

.view-blog-home, .view-blog-scroll > .views-infinite-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: $default-spacing;
    width: 100%;

    // Fix to prevent offset on last element (infinite scroll)
    &:after {
        width: 100%;
    }

    .views-row {
        margin-bottom: $default-spacing;
        width: calc(50% - #{$default-spacing});

        @include below(medium) {
            width: 80%;
        }

        @include below(low) {
            margin: 0 0 $default-spacing 0;
            width: 100%;
        }

        &.odd {
            box-shadow: 5px 10px 15px -5px transparentize($box-shadow-color, 0.7),
                0 0 15px 0 transparentize($box-shadow-color, 0.9);

            @include above(low) {
                border-left: 15px solid $theme-color;
                border-radius: $radius 0 0 $radius;
            }

            .blog-teaser {
                picture {
                    float: left;
                    margin: 0 $view-row-pading $view-row-pading 0;
                }

                .blog__link {
                    text-align: right;

                    &:after {
                        right: 0;
                    }
                }

                &:hover {
                    .blog__link {
                        padding-right: 30px;

                        &:after {
                            width: 20px;
                        }
                    }
                }
            }
        }

        &.even {
            box-shadow: -5px 10px 15px -5px transparentize($box-shadow-color, 0.7),
                0 0 15px 0 transparentize($box-shadow-color, 0.9);

            @include above(low) {
                border-radius: 0 $radius $radius 0;
                border-right: 15px solid $theme-color;
            }

            .blog-teaser {
                picture {
                    float: right;
                    margin: 0 0 $view-row-pading $view-row-pading;
                }

                .blog__link {
                    text-align: left;

                    &:after {
                        left: 0;
                    }
                }

                &:hover {
                    .blog__link {
                        padding-left: 30px;

                        &:after {
                            width: 20px;
                        }
                    }
                }
            }
        }

        .blog-teaser .blog {
            padding: $view-row-pading;
        }
    }
}
