<div id="help-tool">
    <div id="color-picker">
        <div id="color-picker-text"></div>
        <div id="color-picker-paint" class="icon icon-paint"></div>
        <div id="color-picker-revert" class="icon icon-revert"></div>
    </div>
    <div id="font-selector">
        <div class="font-selector-item" data-font="'Ruthie', cursive">1</div>
        <div class="font-selector-item" data-font="'Bilbo Swash Caps', cursive">2</div>
        <div class="font-selector-item" data-font="'Calligraffitti', cursive">3</div>
        <div class="font-selector-item" data-font="'Arizonia', cursive">4</div>
        <div class="font-selector-item" data-font="'Qwigley', cursive">5</div>
    </div>
</div>
