<div id="help-tool">
    <div id="color-picker">
        <div id="color-picker-text"></div>
        <div id="color-picker-paint" class="icon icon-paint"></div>
        <div id="color-picker-revert" class="icon icon-revert"></div>
    </div>
    <select id="font-selector">
        <option value="'Ruthie', cursive">Ruthie</option>
        <option value="'Bilbo Swash Caps', cursive">Bilbo Swash Caps</option>
        <option value="'Calligraffitti', cursive">Calligraffitti</option>
        <option value="'Arizonia', cursive">Arizonia</option>
        <option value="'Qwigley', cursive">Qwigley</option>
        <option value="'MuseoModerno', cursive">MuseoModerno</option>
        <option value="'Tangerine', cursive">Tangerine</option>
        <option value="'Mrs Saint Delafield', cursive">Mrs Saint Delafield</option>
        <option value="'Monsieur La Doulaise', cursive">Monsieur La Doulaise</option>
        <option value="'Rouge Script', cursive">Rouge Script</option>
        <option value="'Srisakdi', cursive">Srisakdi</option>
    </select>
</div>
