<div class="underline-title">
    <h2>{{ title }}</h2>
    {% if other is defined and other %}
        {% include '@enviedessence/svg/line_02.svg' %}
    {% else %}
        {% include '@enviedessence/svg/line_01.svg' %}
    {% endif %}
</div>
