.banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;

    .title-wrapper {
        color: $color-white;
        font-size: 1rem;
        padding: 0 5%;
        text-align: center;
        z-index: 1;

        > h1 {
            font-family: $font-title;
            font-size: 12em;
            line-height: 1em;

            @include below(low) {
                font-size: 5.2em;
            }
        }

        > .logo img {
            max-width: 30vw;
            max-height: 30vh;
        }

        > .subtitle {
            font-size: 2.5em;
            font-style: italic;
            line-height: 2em;
            margin-top: 1em;

            @include below(low) {
                font-size: 1.6em;
                line-height: 1.6em;
                margin-top: 2em;
            }
        }
    }
}
