.price {
    font-size: 1.8rem;
    padding: $default-spacing 5%;
    text-align: center;

    &__value {
        font-size: 1.6em;

        .icon {
            color: $theme-color;
            font-size: 0.5em;
        }
    }

    &__info {
        font-size: 1em;
        font-style: italic;
        padding-top: 0.5em;
    }
}
