#scroll-top {
    align-items: center;
    background-color: transparentize($color-mine-shaft, 0.5);
    border: 1px solid $color-mine-shaft;
    border-radius: 100%;
    bottom: 20%;
    color: $color-white;
    cursor: pointer;
    display: flex;
    font-size: 2.5rem;
    height: 50px;
    justify-content: center;
    opacity: 0;
    padding: 7px;
    position: fixed;
    right: 5%;
    transition: opacity 0.8s;
    width: 50px;
    z-index: 3;

    &.active {
        opacity: 1;
    }
}
