.underline-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: $font-title;
    font-size: 1rem;
    margin: calc(#{$default-spacing} / 2) 0 $default-spacing 0;
    max-width: 100%;

    h2 {
        font-size: 8em;
        text-align: center;
        width: 100%;

        @include below(low) {
            font-size: 5rem;
        }
    }

    svg {
        margin-top: 0.5em;
        max-width: 800px;
        position: relative;
        height: 1.5em;

        @include below(low) {
            font-size: 0.6rem;
        }

        > g {
            fill: $theme-color;
        }
    }
}
