.with-overlay {
    position: relative;;

    &:before {
        background-color: $theme-color;
        content: '';
        height: 100%;
        opacity: $overlay-transparency;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
}
