{% set classes = [
    'block-profile',
    'container',
] %}

<section{{ attributes.addClass(classes) }}>
    {% include '@enviedessence/component/_underline-title.html.twig' with { title: content.field_title } %}
    <div class="profile">
        <div
            data-aos="fade-right"
            data-aos-duration="1500"
            class="profile__picture"
        >
            {{ content.field_image }}
        </div>
        <div
            data-aos="fade-left"
            data-aos-duration="1500"
            class="profile__content"
        >
            <div class="text">
                {{ content.field_text }}
            </div>
            <a href="{{ content.field_link.0['#url'] }}" class="more-link">
                En savoir plus
            </a>
        </div>
    </div>
</section>
