<section{{ attributes.addClass('block-skills') }}>
    {% include '@enviedessence/svg/background_03.svg' %}
    {% include '@enviedessence/component/_underline-title.html.twig' with { title: content.field_title } %}
    {{ content.field_skills }}
</section>
