<div{{ attributes.addClass('program') }}>
    <div class="program__step">
        {{ content.field_step }}
    </div>
    <div class="program__detail">
        {{ content.field_detail }}
    </div>
</div>
