<div{{ attributes.addClass('social-network') }}>
    <a href="{{ content.field_link.0['#url'] }}" target="_blank">
        <span class="icon-{{ content.field_icon.0['#context'].value }}"></span>
    </a>
</div>
