.page-node-type-contact footer {
    display: none;
}

.contact {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;

    .contact-info {
        background-color: transparentize($color-mine-shaft, 0.5);
        border: 1px solid $color-white;
        color: $color-white;
        font-size: 2rem;
        padding: $default-spacing;
        z-index: 1;

        @include below(low) {
            font-size: 1.4rem;
            padding: calc(#{$default-spacing} / 2);
            width: 90%;
        }

        .underline-title {
            margin: 0 0 3em 0;

            h2 {
                line-height: 0.8em;
            }

            svg {
                > g {
                    fill: $color-white;
                }
            }
        }

        > div {
            margin-bottom: 0.6em;
            position: relative;

            &.email, &.home {
                margin-bottom: 0.9em;
                padding-bottom: 0.9em;

                &:after {
                    background-color: $color-white;
                    content: '';
                    height: 1px;
                    width: 30%;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &.home, &.office {
                line-height: 1.5em;
            }

            > a {
                color: $color-white;
                display: block;
                font-size: 1em;
                font-weight: 300;
                text-decoration: none;

                > .icon {
                    margin-right: 0.5em;

                    &:before {
                        transition: all 0.8s;
                    }
                }

                &:hover {
                    .icon:before {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}
