.skill-full {
    .banner {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 100vw;

        .title-wrapper {
            color: $color-white;
            font-size: 1rem;
            z-index: 1;

            > h1 {
                font-size: 7.5em;
            }
        }
    }

    .content {
        font-size: 2rem;
        padding: $default-spacing 5% 0 5%;

        .icon {
            color: $color-pompadour;
            float: left;
            font-size: 5em;
            padding-right: 0.5em;
        }
    }

    .infos {
        padding: calc(#{$default-spacing} / 2) 5% 0 5%;

        .price {
            font-size: 2.5rem;
            padding: $default-spacing 5%;
            text-align: center;

            &__value {
                font-size: 1em;

                .icon {
                    color: $color-pompadour;
                    font-size: 0.5em;
                }
            }

            &__info {
                font-size: 0.8em;
                font-style: italic;
                padding-top: 0.5em;
            }
        }
    }
}
