<div class="page-content">
    <header>
        {{ page.header }}
        <span class="icon-arrow"></span>
    </header>
    <div class="page-content-error">
        La page demandée n'a pas pu être trouvée...
    </div>
</div>
