.block-profile {
    display: flex;
    flex-direction: column;
    padding: 0 5% $default-spacing 5%;
    width: 100%;

    @include below(low) {
        padding-bottom: 20px;
    }

    .profile {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;

        @include below(low) {
            flex-direction: column;
        }

        &__picture {
            max-width: 40%;

            img {
                max-width: 100%;
            }

            @include below(low) {
                max-width: 100%;
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        &__content {
            display: flex;
            flex: 0 0 60%;
            flex-direction: column;
            justify-content: space-between;
            padding-left: $default-spacing;
            text-align: justify;

            @include below(low) {
                padding-left: 0;
                padding-top: 20px;
            }

            .more-link {
                padding: 0.5em;
                text-align: right;
            }
        }
    }
}
