.block-skills {
    margin: $default-spacing auto 0 auto;
    max-width: $override-width;
    padding: 0 5% $default-spacing 5%;
    position: relative;
    width: 100%;

    @include below(high) {
        max-width: 100%
    }

    @include below(low) {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h2 {
        text-shadow: 0 0 0.5em $color-white;
    }

    & > svg {
        height: 100%;
        left: 0;
        object-fit: fill;
        object-position: center;
        opacity: 0.15;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;

        > g {
            fill: $theme-color;
        }

        @include below(low) {
            display: none;
        }
    }
}
