<div{{ attributes.addClass('field-program') }}>
    {% for item in items %}
        <div
            class="program-wrapper"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="{{ 300 * loop.index0 }}"
        >
            {{ item }}
        </div>
    {% endfor %}
</div>
