// Fonts

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-title: 'Great Vibes', cursive;
$font-text: 'Montserrat', sans-serif;

// Colors

$color-mine-shaft: #333333;
$color-pompadour: #74005c;
$color-white: #ffffff;

$primary-color: $color-mine-shaft;
$secondary-color: $color-pompadour;

// Media Queries

$breakpoints: (
  low: 768px,
  high: 1200px
);

// Misc

$default-spacing: 50px;
$overlay-transparentize: 0.65;
