// Fonts

@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');  //'Bilbo Swash Caps', cursive;

$font-bilbo: 'Bilbo Swash Caps', cursive;

$font-title: var(--font-title);
$font-text: 'Montserrat', sans-serif;

// Colors

$color-mine-shaft: #333333;
$color-armadillo: #4f493c;
$color-white: #ffffff;

$primary-color: var(--primary-color);
$theme-color: var(--theme-color);
$box-shadow-color: $color-mine-shaft;

// Media Queries

$breakpoints: (
  low: 768px,
  medium: 1200px,
  high: 1700px,
);

// Misc

$default-spacing: 50px;
$overlay-transparency: var(--overlay-transparency);
$override-width: 1600px;
