<article{{ attributes.addClass('skill-teaser') }}>
    {{ content.field_thumbnail }}
    <div class="skill">
        <div class="skill__title">{{ node.getTitle() }}</div>
        <div class="skill__teaser">{{ content.field_teaser }}</div>
    </div>
</article>
