<article{{ attributes.addClass('base-page') }}>

    {% include '@enviedessence/component/_banner-top.html.twig' with {
        image: content.field_image,
        title: node.getTitle(),
        subtitle: content.field_subtitle,
    } only %}

    {% if content.body %}
        <section class="first-section container">
            {{ content.body }}
        </section>
    {% endif %}

    <section class="view-list container">
        {{ content.field_view }}
    </section>

</article>
