.page-content-error {
    align-items: center;
    background-color: $color-pompadour;
    color: $color-white;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    height: 100vh;
    justify-content: center;
    padding: 5%;
    text-align: center;
    width: 100vw;
}
