footer {
    background-color: $theme-color;
    margin-top: calc(#{$default-spacing} * 2);
    position: relative;

    ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        padding: 3rem 0;
        margin: 0;

        li {
            font-size: 1rem;
            margin: 0 1em;

            a {
                color: $color-white;
                font-size: 1.2em;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .block-social-network {
        font-size: 2.5rem;
        height: 100%;
        position: absolute;
        right: 20px;
        top: 0;

        .social-network {
            > a {
                color: $color-white;
            }
        }
    }
}
