:root {
  --primary-color: #{$color-mine-shaft};
  --theme-color: #{$color-harvest-gold};
  --overlay-transparency: 0.55;
  --font-title: #{$font-tangerine};
}

html {
  font-size: 10px;
  color: $primary-color;
  font-family: $font-text;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-content {
  background: $color-white;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 5%;

    @include below(medium) {
        max-width: 90%;
    }
}

.first-section {
    margin-top: $default-spacing;
}
