$icon-height: 4.3rem;

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0;
    height: auto;
    position: absolute;
    top: 0;
    transition: all 1.5s;
    transform: translateY(calc(-100% + #{$icon-height}));
    width: 100%;
    z-index: 2;

    @include below(low) {
        transform: translateY(-100vh);
    }

    > nav {
        background-color: transparentize($color-mine-shaft, 0.5);
        width: 100%;

        @include below(low) {
            background-color: transparentize($color-mine-shaft, 0.1);
        }

        ul {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style: none;
            padding: 3rem 0;
            margin: 0;

            @include below(low) {
                align-items: flex-start;
                flex-direction: column;
                height: 100vh;
                padding: 20px;
            }

            li {
                font-size: 1.8rem;
                font-weight: 500;
                margin: 0 1em;
                position: relative;
                text-align: center;

                @include below(high) {
                    font-size: 1.4rem;
                }

                @include below(low) {
                    font-size: 2rem;
                    margin: 13px 15px;
                    font-weight: 700;
                }

                &:before, &:after {
                    background-color: $color-white;
                    content: '';
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%);
                    transition: all 0.7s;
                    width: 0;
                }

                &:before {
                    top: -0.5em;

                    @include below(low) {
                        display: none;
                    }
                }

                &:after {
                    bottom: -0.5em;
                }

                a {
                    color: $color-white;
                    font-size: 1em;
                    text-decoration: none;
                }

                &:hover {
                    &:before, &:after {
                        width: 50%;

                        @include below(low) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .icon-arrow {
        color: $color-white;
        cursor: pointer;
        font-size: 4.3rem;
        height: $icon-height;
        transform: rotateX(180deg);
        transition: all 1.2s 0.5s;

        @include below(low) {
            position: absolute;
            right: 20px;
            bottom: -5rem;
        }
    }

    &.active {
        transform: translateY(0);

        .icon-arrow {
            transform: rotateX(0);

            @include below(low) {
                bottom: 2rem;
            }
        }
    }
}
