header {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0;
    height: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;

    > nav {
        background-color: transparentize($color-white, 0.35);
        width: 100%;

        @include below(low) {
            background-color: transparentize($color-white, 0.1);
            transition: all 1.5s;
            transform: translateY(-100vh);
        }

        ul {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style: none;
            padding: 2.5rem 0;
            margin: 0;

            @include below(low) {
                flex-direction: column;
                height: 100vh;
                padding: 20px;
            }

            li {
                font-size: 1.8rem;
                font-weight: 500;
                margin: 0 1em;
                position: relative;
                text-align: center;

                @include below(high) {
                    font-size: 1.4rem;
                }

                @include below(low) {
                    font-size: 2.5rem;
                    font-weight: 700;
                    margin: 13px 15px;
                }

                &:after {
                    background-color: $theme-color;
                    bottom: -0.5em;
                    content: '';
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%);
                    transition: all 0.7s;
                    width: 0;
                }

                a {
                    color: $primary-color;
                    font-size: 1em;
                    text-decoration: none;
                }

                &:hover {
                    &:after {
                        width: 50%;

                        @include below(low) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .icon-arrow {
        display: none;

        @include below(low) {
            color: $color-white;
            cursor: pointer;
            display: block;
            position: absolute;
            font-size: 4.3rem;
            transform: rotateX(180deg);
            transition: all 1.2s 0.5s;
            right: 20px;
            top: 20px;
        }
    }

    @include below(low) {
        &.active {
            > nav {
                transform: translateY(0);
            }

            .icon-arrow {
                color: $primary-color;
                transform: rotateX(0);
            }
        }
    }
}
