.text {
    font-size: 2rem;
    line-height: 1.5em;
    text-align: justify;

    @include below(medium) {
        font-size: 1.6rem;
    }

    @include below(low) {
        font-size: 1.5rem;
    }
}

* > p {
    margin-bottom: 0.6em;
}

a, img {
    outline: none;
}

a {
    color: var(--theme-color);
    text-decoration: none;
}

.more-link {
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;

    @include below(medium) {
        font-size: 1.5rem;
    }

    @include below(low) {
        font-size: 1.3rem;
    }
}

.expand-link {
    cursor: pointer;
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    transition: all 1s;
    width: 100%;

    @include below(medium) {
        font-size: 1.5rem;
    }

    @include below(low) {
        font-size: 1.3rem;
    }

    &:after {
        background-color: var(--theme-color);
        content: '';
        height: 1px;
        position: absolute;
        top: 50%;
        transition: all 1s;
        width: 0;
    }

    &--right {
        text-align: right;

        &:after {
            right: 0;
        }

        &:hover {
            padding-right: 30px;

            &:after {
                width: 20px;
            }
        }
    }

    &--left {
        text-align: left;

        &:after {
            left: 0;
        }

        &:hover {
            padding-left: 30px;

            &:after {
                width: 20px;
            }
        }
    }
}
