.text {
    font-size: 2rem;
    line-height: 1.5em;
    text-align: justify;

    @include below(high) {
        font-size: 1.6rem;
    }

    @include below(low) {
        font-size: 1.5rem;
    }
}

* > p {
    margin-bottom: 0.6em;
}
