$transition-duration: 1.5s;

.field-skills {
    width: 100%;

    .skill-list-wrapper {
        font-size: 2rem;
        width: 100%;

        .skill-list {
            align-items: center;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            @include below(low) {
                flex-direction: column;
            }

            @include above(low) {
                @for $i from 1 through 10 {
                    &[data-count="#{$i}"] {
                        .skill-list-item {
                            width: calc(100% / #{$i} - (#{$default-spacing} / 2));
                        }
                    }
                }
            }

            @include above(high) {
                @for $i from 1 through 10 {
                    &[data-count="#{$i}"] {
                        .skill-list-item {
                            width: calc(100% / #{$i} - #{$default-spacing});
                        }
                    }
                }
            }

            .skill-list-item {
                @include below(low) {
                    position: relative;
                    margin-bottom: 3rem;

                    &:not(:last-child):after {
                        background-color: $theme-color;
                        bottom: 0;
                        content: '';
                        height: 1px;
                        left: 50%;
                        position: absolute;
                        transform: translateX(-50%);
                        width: 50%
                    }
                }

                > .link-wrapper {
                    display: block;
                    overflow: hidden;
                    position: relative;
                    text-decoration: none;
                    transition: all $transition-duration;

                    @include above(low) {
                        &:before {
                            background-color: $theme-color;
                            content: '';
                            height: 100%;
                            left: 0;
                            opacity: $overlay-transparency;
                            position: absolute;
                            top: 0;
                            transition: all $transition-duration;
                            width: 100%;
                            z-index: 2;
                        }
                    }

                    .skill-teaser {
                        picture {
                            display: flex;
                            justify-content: center;

                            img {
                                max-height: 100%;
                                max-width: 100%;
                                transition: all $transition-duration;

                                @include above(low) {
                                    filter: grayscale(100%);
                                }
                            }
                        }

                        .skill {
                            @include below(low) {
                                &__title {
                                    color: $primary-color;
                                    font-size: 2.2rem;
                                    font-weight: 500;
                                    padding: 0.7em 0;
                                    text-align: center;
                                }

                                &__teaser {
                                    display: none;
                                }
                            }

                            @include above(low) {
                                display: none;
                            }
                        }
                    }

                    > .icon {
                        text-shadow: 0 0 0.5em $color-mine-shaft;
                        color: $theme-color;
                        bottom: 0.3em;
                        font-size: 3rem;
                        position: absolute;
                        right: 10%;
                        opacity: 0;
                        transition: opacity 1.2s ease 0.5s;

                        @include below(low) {
                            display: none;
                        }
                    }
                }

                &.active {
                    > .link-wrapper {
                        @include above(low) {
                            box-shadow: 0 7px 12px -3px transparentize($box-shadow-color, 0.5);

                            &:before {
                                opacity: 0;
                            }
                        }

                        .skill-teaser {
                            picture {
                                img {
                                    filter: grayscale(0);
                                }
                            }
                        }

                        > .icon {
                            opacity: 1
                        }
                    }
                }
            }
        }
    }

    .skill-detail-wrapper {
        background-color: $color-white;
        box-shadow: 0 15px 20px -10px transparentize($box-shadow-color, 0.7),
            0 5px 25px 0 transparentize($box-shadow-color, 0.9);
        align-items: center;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5rem auto 0 auto;
        padding: $default-spacing;
        position: relative;
        width: 70%;

        .skill-border {
            background-color: $theme-color;
            height: 1px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

            &:before, &:after {
                content: '';
                height: 1px;
                position: absolute;
                top: 0;
                width: 30%;
            }

            &:before {
                background: linear-gradient(to right, $color-white, transparentize($color-white, 1));
                left: 0;
            }

            &:after {
                background: linear-gradient(to left, $color-white, transparentize($color-white, 1));
                right: 0;
            }
        }

        @include below(low) {
            display: none;
        }

        .skill-detail {
            left: 5%;
            opacity: 0;
            padding: 1em;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            transition: all $transition-duration;
            width: 90%;

            > a {
                color: $primary-color;
                display: block;
                position: relative;
                text-decoration: none;

                h3 {
                    font-size: 1.5em;
                    font-weight: 500;
                    margin-bottom: 0.5em;
                    text-align: center;
                    text-transform: uppercase;
                }

                > .icon {
                    color: $theme-color;
                    bottom: -1em;
                    font-size: 3rem;
                    position: absolute;
                    right: 0;
                    opacity: 0;
                    transition: opacity 1.2s ease 0.5s;
                }
            }


            &.active {
                opacity: 1;

                > a {
                    .icon {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
