$transition-duration: 1.5s;

.field-skills {
    width: 100%;

    .skill-list-wrapper {
        font-size: 2rem;
        width: 100%;

        .skill-list {
            align-items: center;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            @include below(low) {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-column-gap: 0;
                grid-row-gap: 0;
            }

            @include above(low) {
                @for $i from 1 through 10 {
                    &[data-count="#{$i}"] {
                        .skill-list-item {
                            width: calc(100% / #{$i} - #{$default-spacing});
                        }
                    }
                }
            }

            .skill-list-item {
                overflow: hidden;
                position: relative;
                text-decoration: none;
                transition: all $transition-duration;

                @include below(low) {
                    grid-area: 1 / 1 / 2 / 2;
                    opacity: 0;
                    pointer-events: none;
                    z-index: 1;
                }

                @include above(low) {
                    &:before {
                        background-color: transparentize($color-pompadour, $overlay-transparentize);
                        content: '';
                        height: 100%;
                        opacity: 1;
                        position: absolute;
                        transition: all $transition-duration;
                        width: 100%;
                        z-index: 2;
                    }
                }


                .skill-teaser {
                    picture {
                        display: flex;
                        justify-content: center;

                        img {
                            max-height: 100%;
                            max-width: 100%;
                            transition: all $transition-duration;

                            @include above(low) {
                                filter: grayscale(100%);
                            }
                        }
                    }

                    .skill {
                        @include below(low) {
                            &__title {
                                color: $primary-color;
                                font-size: 2.5rem;
                                font-weight: 500;
                                padding: 0.7em 0;                            }
                                text-align: center;

                            &__teaser {
                                display: none;
                            }
                        }

                        @include above(low) {
                            display: none;
                        }
                    }
                }

                &.active {
                    @include below(low) {
                        opacity: 1;
                        pointer-events: auto;
                        z-index: 2;
                    }

                    @include above(low) {
                        box-shadow: 0 7px 12px -3px transparentize($color-pompadour, 0.5);

                        &:before {
                            opacity: 0;
                        }
                    }

                    .skill-teaser {
                        picture {
                            img {
                                filter: grayscale(0);
                            }
                        }
                    }
                }
            }
        }
    }

    .skill-title-wrapper {
        height: 3rem;
        padding: 5rem 0;
        overflow: hidden;
        position: relative;
        width: 100%;

        @include below(low) {
            display: none;
        }


        .skill-title {
            font-size: 3rem;
            font-weight: 500;
            left: 50%;
            opacity: 0;
            position: absolute;
            text-align: center;
            text-shadow: 0 0 0.5em $color-white;
            transform: translateX(-50%) translateY(-50%);
            transition: all $transition-duration;
            top: 50%;

            &.active {
                opacity: 1;
            }
        }
    }

    .skill-detail-wrapper {
        background-color: $color-white;
        border: 1px solid $color-pompadour;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        width: 70%;

        @include below(low) {
            display: none;
        }

        .skill-detail {
            font-size: 2rem;
            left:0;
            opacity: 0;
            padding: 1em;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            transition: all $transition-duration;
            width: 100%;

            &.active {
                opacity: 1;
            }
        }
    }

    .skill-button-wrapper {
        align-items: center;
        display: flex;
        font-size: 3.4rem;
        justify-content: center;

        .icon {
            cursor: pointer;
            padding: 0 0.3em;
            z-index: 1;
        }

        @include above(low) {
            display: none;
        }
    }
}
